.GradientStopList__wrapper {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 260px;
    padding: 10px 0px;
}

.GradientStopList__wrapper > * {
    margin-top: 10px;
}
