.GradientGen {
    padding: 20px;
    max-width: 800px;
    background: white;
    border-radius: 5px;
    border: 1px solid #ececec;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.GradientGen__GradientSlider {
    width: 100%;
    height: 32px;
}

.GradientGen__others {
    display: flex;
    flex-direction: row;
}

.GradientGen__others > * {
    margin: 0px 10px;
}

@media only screen and (max-width: 800px) {
    .GradientGen {
        max-width: 100%;
        margin: 10px;
        height: auto;
    }

    .GradientGen__others {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .GradientGen__others > * {
        margin: 10px;
    }

    .GradientGen__others > div:nth-child(3) {
        order: 2;
        width: 100%;
    }

    .GradientGen__others > div:nth-child(1) {
        order: 1;
        width: 100%;
    }

    .GradientGen__others > div:nth-child(2) {
        order: 3;
        width: 100%;
    }
}
