html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Nunito', sans-serif;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

#messages {
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    flex-direction: column;
    overflow: hidden;
}
